/* *, ::before, ::after{
    box-sizing: border-box;
}
*/

body{
     margin: 0;
    background-image: url(drum.jpg);
    background-color: #ffffff8c;
    background-blend-mode:soft-light ;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    font-weight: 800;
    color: #111111;
}

.keys{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    width: 85%;
}
.key{
    background-color: rgba(0, 0, 0, 0.445);
    width: 6rem;
    border: 2px solid rgb(41, 39, 39);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}

kbd{
    color: #fff;
    
    font-size: 1.3rem;
}